<IfModule ml_module>
    MLEnabled on
    MLClassResponse "YES" "env" "client=bot"
    MLClassifier proc /usr/local/bin/y.pl
    SetHandler ml
</IfModule>

RewriteEngine On
RewriteCond %{ENV:client} bot
RewriteRule .* /modtest/move/index.html [R=302,L]

